        * {
            box-sizing: border-box;
        }

        html {
            font-size: 18px;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }

        @font-face {
            font-display: swap;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 200;
            src: url('/fonts/Montserrat-Light.woff2') format('woff2'),
            /* Fallback na woff */
        }

        @font-face {
            font-display: swap;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
            /* Fallback na woff */
        }

        @font-face {
            font-display: swap;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
            /* Fallback na woff */
        }

        .top-bar {
            height: auto;
            width: 100vw;
            /* Zajmuje 100% szerokości widoku */
            display: flex;
            justify-content: space-between;
            /* Elementy po bokach z odstępem w środku */
            align-items: center;
            /* Wyrównanie elementów w osi pionowej */
            gap: 0%;
            /* Odległość między elementami jako procent szerokości sekcji */
            position: sticky;
            top: 39px;
            /* Przyklej do góry strony */
            padding: 10px 10px;
            margin-top: 0;
            font-size: 1rem;
            color: #131212;
            background-color: rgba(255, 255, 255, 0.95);
            /* Lekko przezroczyste tło */
            text-shadow:
                0px 0px 1px rgba(0, 0, 0, 0.2),
                0px -1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            /* Rozmyty cień */
            z-index: 1000;
            /* Wyższy z-index, aby zawsze był nad zawartością */
        }

        .logo {
            height: auto;
            max-height: 82px;
            width: auto;
            max-width: 97px;
            margin-left: 20px;
            margin-right: -70px;
            object-fit: contain;
        }

        @media (max-width: 1024px) and (orientation: landscape) {
            .logo {
                max-height: 60px;
                max-width: 84px;
            }
        }




        @media (max-width: 768px) {
            .top-bar {
                height: auto;
                padding: 2px 2px;
                flex-wrap: wrap;
            }
        }


        /* POZIOMY widok telefonów (stan przejściowy: np. tablet lub telefon poziomo) */
        @media (max-width: 1024px) and (orientation: landscape) {
            .top-bar {
                height: 75px;
                padding: 20px 10px;
                flex-wrap: nowrap;
            }
        }



        .bold-text {
            font-weight: 400;
        }

        .light-text {
            font-size: 20px;
            font-weight: 200;
        }

        .header-h1 {
    font-size: 26px;
    margin: 0;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    white-space: nowrap;
    line-height: 1.2;
    text-align: left;
    letter-spacing: -0.9px;
}

        h2 {
            font-size: 24px;
            text-align: center;
            margin-top: 20px;
            font-family: 'Montserrat', serif;
            margin-bottom: 20px;
            color: #131212;
            overflow-x: auto;
        }

        h3 {
            font-size: 1.3rem;
            text-align: center;
            margin-top: 40px;
            font-family: 'Montserrat', serif;
            font-weight: 600;
            margin-bottom: 5px;
            color: #2c2c2c;
            overflow-x: auto;
        }

        .section-text {
            font-family: 'Montserrat', serif;
            font-size: 1rem;
            line-height: 1.6;
            color: #131212;
        }


        ul {
            list-style-position: inside;
            text-align: center;
            padding-left: 0;
        }


        .bold-text {
            font-weight: 600;
        }

        .light-text {
            font-weight: 200;
        }

        @media (max-width: 768px) {

            .header-h1 {
                margin-top: 6px;
                font-size: 18px;
                white-space: normal;
            }

            .header-h1 span {
                display: block;
                font-size: 18px;
            }

            .light-text {
                font-size: 17px;

            }
        }


         @media (max-width: 1024px) {

            .header-h1 {
                margin-top: 6px;
                font-size: 20px;
                white-space: normal;
            }

            .header-h1 span {
                display: block;
                font-size: 20px;
            }

            .light-text {
                font-size: 17px;

            }
        }

         @media (max-width: 1024px) and (orientation: landscape) {
    .header-h1 {
        margin-top: 6px;
        font-size: 22px;
        white-space: normal;
        text-align: left;                
        display: block;    
    }

    .header-h1 span {
        display: block;
        font-size: 22px;
    }

    .light-text {
        font-size: 18px;
    }
}


        .contact-info {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-start;
            margin-left: 50px;
            font-size: 0.9rem;
            flex-wrap: wrap;
        }

        .contact-info a {
            color: #131212;
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-left: 10px;
            gap: 5px;
            position: relative;
        }

        .contact-info a:hover::after {
            content: '';
            position: absolute;
            left: 35px;
            right: 0;
            bottom: 12px;
            width: calc(100% - 35px);
            height: 1px;
            background-color: #131212;
            transition: all 0.3s ease;
        }

        .hamburger-menu {
            display: block;
        }



        @media (min-width: 769px) {
            .mobile-contact-menu {
                display: none;
            }
        }

        @media (max-width: 768px) {
            .logo {
                width: 76px;
                height: 64px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 40px;
                margin-right: -55px;
            }
        }

        @media (max-width: 1024px) {
            .logo {
                margin-top: 10px;
                margin-bottom: 5px;
                margin-left: 10px;
            }
        }

        .language-links {
            display: flex;
            gap: 5px;
            margin-right: 15px;
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .amenities-section {
            width: 100%;
            background-color: #f2f2f2;
            padding: 10px 0;
            margin-bottom: 20px;
        }

        .amenities-grid {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            gap: 15px;
            max-width: 1280px;
            margin: 0 auto;
            padding: 0 0px;
            font-size: 0.9rem;
        }

        /* siatka logotypów: 3 kolumny dopasowane do szerokości logo, wycentrowane */
        .logo-grid {
            display: grid;
            grid-template-columns: repeat(4, auto); 
            justify-content: center; 
            justify-items: center; 
            align-items: center;   
            gap: 120px;       
            max-width: 1280px;
            margin: 0 auto;
            padding: 0;
        }

        /* porządek w elementach wewnątrz */
            .logo-grid a { display: inline-block; }
            .logo-grid img {
            display: block;
            width: auto;
            margin: 0px 0;
        }


        /* responsywność */

        @media (max-width: 1023px) {
        .logo-grid {
            grid-template-columns: repeat(2, auto);
            gap: 15px 0;

            }
        }

        /* Poziome telefony i mniejsze: 3x3 */
        @media (max-width: 1023px) {
            .amenities-grid {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        /* Najmniejsze ekrany: 2 kolumny */
        @media (max-width: 600px) {
            .amenities-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 1023px) {
            .amenities-grid {
                grid-template-columns: repeat(3, 1fr);
                /* 3 kolumny → 3x3 */
            }
        }


        .map-section {
            width: 100%;
            margin-top: 40px;
            border-radius: 5px;
            text-align: center;
            font-size: 1rem;
        }



        .hamburger-menu {
            display: none;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            height: 40px;
            display: flex;
            align-items: center;
            z-index: 1001;
        }

        .hamburger-menu img {
            width: 40px;
            height: 40px;
            display: block;
        }

        .mobile-contact-menu {
            display: none;
            background-color: #131212;
            position: absolute;
            right: 10px;
            margin-top: 40px;
            padding: 10px;
            border-radius: 5px;
        }

        .mobile-contact-menu a {
            display: block;
            color: #131212;
            text-decoration: none;
            margin: 5px 0;
            line-height: 2.4rem;
        }


        .mobile-contact-menu a:hover {
            text-decoration: underline;
        }


        .lang-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #131212;
            font-size: 0.65rem;
            text-decoration: none;
            width: 24px;
            height: 24px;
            padding: 0;
            border: 1px solid #131212;
            border-radius: 50%;
            transition: background-color 0.3s ease;

        }


        .language-links .lang-link:hover {
            background-color: rgba(76, 175, 80);
            /* Efekt hover */
        }

        @media (max-width: 1280px) {
            .mobile-contact-menu {
                display: block;
                background-color: #131212;
                position: absolute;
                right: 10px;
                top: 40px;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                /* Cień na zewnątrz okna menu */
            }

            .mobile-contact-menu .language-links .lang-link {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 32px;
                height: 32px;
                font-size: 0.85rem;
                line-height: 32px;
                padding: 0;
                box-sizing: content-box;
                text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
                    0px -1px 1px rgba(0, 0, 0, 0.1);
                /* Zewnętrzny cień tylko dla tekstu */
            }

            .language-links {
                gap: 15px;

            }

        }

        @media (min-width: 1280px) {
            .mobile-contact-menu .language-links {
                display: none;
            }
        }

        .button-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            margin-top: 15px;
            margin-bottom: 30px;
            flex-wrap: wrap;
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }

        .button-p-container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        @media (max-width: 768px) {
            .button-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
                margin-top: 15px;
                margin-bottom: 15px;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 46px;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            background-color: #e51e50;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            cursor: pointer;
            font-family: Montserrat, sans-serif;
        }

        .button:hover {
            background-color: #de5577;
        }

       

        .button-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 46px;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            background-color: #2F6940;
            border: none;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            cursor: pointer;
            font-family: Montserrat, sans-serif;
            margin-bottom: 30px;
        }

        .button-info:hover {
            background-color: #40a95c;
        }

        .button-dostep {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 46px;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            background-color: #e97e2d;
            border: none;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            cursor: pointer;
            font-family: Montserrat, sans-serif;
            margin-bottom: 30px;
            margin-top: 10px;
            padding: 0 15px; 
        }

        .button-dostep:hover {
            background-color: #f98847;
        }

        .reservation-title {
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            color: #131212;
            font-family: Montserrat, sans-serif;
            margin-top: 30px;
        }

        .image-text {
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            color: #ffffff;
            margin: 0;
            font-family: Montserrat, sans-serif;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        @media (max-width: 768px) {
            .image-text {
                font-size: 1.1rem;
                margin: 10px;
                line-height: 1.4;
            }
        }

        /* Kontener galerii */
        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 7px 7px;
            margin-top: 10px;
            padding: 0px;
            margin-bottom: 10px;
        }

        .gallery img {
            display: grid;   /* usuwa domyślną szczelinę dla inline-block */
            margin: 0;
            padding: 0;
            max-width: 100%;
            height: auto;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.2s;
        }

        #overlay-image {
            width: 1280px;
            height: 720px;
            max-height: 90vh;
            object-fit: contain;
        }

        .gallery-mini {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-content: center;
            gap: 6px;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        .gallery-mini img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.2s;
        }

        /*
        #overlay-image {
            width: 1280px;
            height: 720px;
            max-height: 90vh;
            object-fit: contain;
        }

        /* Styl tooltipa */
        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 320px;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 65px);
            opacity: 0;
            transition: opacity 0.3s ease;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
            z-index: 1;
            pointer-events: none;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }


        .mobile-contact-menu {
            display: none;
            background-color: rgba(255, 255, 255, 0.95);
            position: fixed;
            right: 10px;
            top: 88px;
            padding: 10px;
            border-radius: 3px;
            z-index: 10;
        }

        .mobile-contact-menu i {
            color: #131212;
            margin-right: 8px;
            font-size: 1.2rem;
            vertical-align: middle;
        }

        .mobile-contact-menu a {
            display: block;
            color: #131212;
            margin: 5px 0;
            text-decoration: none;
        }

        @media (max-width: 1200px) {

            .contact-info {
                display: none;
            }

            .social-icons {
                display: flex;
                gap: 20px;
                margin-right: 20px;
            }
        }

        .footer {
            background-color: #323131;
            color: white;
            font-size: 1rem;
            font-weight: 400;
            text-shadow:
                0px 0px 1px rgba(0, 0, 0, 0.2),
                0px -1px 1px rgba(0, 0, 0, 0.1);
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-top: 20px;
            padding: 18px 19px;
        }

        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
        }

        .footer-copy {
            margin: 0;
        }

        .footer-inline-links {
            display: flex;
            gap: 20px;
        }

        .footer-inline-links a {
            color: white;
            text-decoration: none;
        }

        .footer-inline-links a:hover {
            text-decoration: underline;
        }

        .footer-links-mobile {
            display: none;
        }

        @media (max-width: 768px) {
            .footer-content {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .footer-copy {
                margin-top: 10px;
                margin-bottom: 0px;
            }

            .footer-inline-links {
                display: none;
            }

            .footer-links-mobile {
                display: block;
                margin-top: 10px;
            }

            .footer-links-mobile summary {
                cursor: pointer;
                font-weight: bold;
                color: white;
                margin-bottom: 5px;
            }

            .footer-links-mobile a {
                display: block;
                color: white;
                text-decoration: none;
                margin: 4px 0;
            }

            .footer-links-mobile a:hover {
                text-decoration: underline;
            }
        }

        @media (max-width: 1024px) {
            .footer {
                margin-bottom: 80px;
            }
        }

        @media (max-width: 1024px) {
            .footer {
                margin-bottom: 80px;
            }
        }

        .social-icons a {
            color: white;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }

        .social-icons a:hover {
            color: #ddd;
        }

        @media (max-width: 768px) {
            .tooltip .tooltiptext {
                display: none;
            }
        }

        @media (max-width: 1024px) {
            .gallery {
                grid-template-columns: repeat(2, 1fr);
            }
        }


        @media (max-width: 1342px) {
            .gallery-mini {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (min-width: 1200px) {
            .hamburger-menu {
                display: none;
            }

            .mobile-contact-menu {
                display: none;
            }
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.86);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            visibility: hidden;
        }

        .overlay img {
            max-width: 82vw;
            max-height: 82vh;
            margin: 0 5px;
        }

        .close-btn {
            position: absolute;
            top: 50px;
            right: 20px;
            color: #fff;
            font-size: 70px;
            cursor: pointer;
        }

        .nav-btn {
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            align-self: center;
            padding: 0 10px;
        }

        .description-box {
            max-width: 73%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 80px;
            margin: 0 auto;
            margin-bottom: 20px;
            background-color: #ffffff;
            font-size: 1rem;
            text-align: center;
        }

        .description-box-lato {
            max-width: 73%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 80px;
            margin: 0 auto;
            margin-bottom: 20px;
            background: linear-gradient(to bottom, #f2f2f2 0%, #f2f2f2 74%, #dddddd 100%);
            font-size: 1rem;
            text-align: center;
        }


        .description-box-promo {
            max-width: 82%;
            border: 1px solid #328247;
            border-radius: 5px;
            padding: 5px;
            margin: 5px auto;
            background-color: #ffffff;
            font-size: 1.2rem;
            color: #328247;
            text-align: center;
        }

        @media (orientation: landscape) and (max-height: 768px) {
            .description-box {
                width: 96vw;
                max-width: 96vw;
                padding: 20px;
                margin: 1px auto 20px auto;
                font-size: 0.6rem;
            }
        }

        @media (orientation: portrait) {
            .description-box {
                font-size: 1rem;
            }
        }

        @media (max-width: 768px) {
            .description-box {
                max-width: 96vw;
                padding: 20px;
                margin: 1px auto;
                margin-bottom: 20px;
                font-size: 0.6rem;
            }
        }

        .description-box p {
            font-size: 1rem;
            line-height: 1.6;
        }

        @media (max-width: 768px) {
            .description-box-lato {
                max-width: 96vw;
                padding: 20px;
                margin: 1px auto;
                margin-bottom: 20px;
                font-size: 0.6rem;
            }
        }
        
        .description-box-lato p {
            font-size: 1rem;
            line-height: 1.6;
        }

        .description-wrapper {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            margin: 30px auto;
            max-width: 73%;
        }

        .description-box2 {
            flex: 1 1 48%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            color: #ffffff;
            font-size: 1rem;
            text-align: center;
            line-height: 1.6;
            box-sizing: border-box;
            background-blend-mode: overlay;
            background-size: cover;
            background-position: center;
        }

         .description-box.green {
            background: #2F6940;
        }
   
        .description-box.gray {
            background: #3c3939c6;
        }
        .description-box.peach {
            background: #ff9f68;
        }

        .description-box.mix {
            background: linear-gradient(to bottom, #ffffff 0%, #41a55bcc 74%, #2F6940 100%);
        }
        
        .description-box.mix2 {
            background: linear-gradient(to bottom, #ffffff 0%, #ff9f68 74%, #fc7d33 100%);
        }
        
        .description-box2.green {
            background: linear-gradient(to bottom, #3c9b55cc 0%, #2F6940 100%);
        }
  
        .description-box2.gray {
            background: linear-gradient(to bottom, #6b6767c6 0%, #3c3939c6 100%);
        }

        .description-box2.peach {
            background: #ff9f68;
        }

        @media (max-width: 768px) {
            .description-box2 {
                flex: 1 1 100%;
                max-width: 96vw;
                margin-bottom: 20px;
            }

            .description-wrapper {
                gap: 20px;
                max-width: 96%;
            }
        }

        @media (max-width: 768px) {
            .description-box-promo {
                flex: 1 1 100%;
                max-width: 98vw;
            } 
        }

        .description-box3 {
            display: flex;
            gap: 20px;
            align-items: stretch;
            max-width: 73%;
            margin: 0 auto;
            flex-wrap: wrap; 
        }


        .description-box3 .description-box:first-child {
            flex: 0 0 49%;
        }

        .description-box3 .description-box:last-child {
            flex: 0 0 49%;
        }

        /* Dla ekranów mobilnych (<1100px) */
        @media (max-width: 1367px) {
            .description-box3 {
                flex-direction: column;
                max-width: 100%;
                gap: 1px;
            }

            .description-box3 .description-box {
                flex: 0 0 100%;
                width: 100%;
                gap: 1px;
            }
        }

        .review-widget_net {
            transform: scale(0.97);
            transform-origin: center top;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .section-container {
            width: 55%;
            background-color: #fff;
            margin: 0 auto;
        }

        @media (max-width: 768px) {
            .section-container {
                width: 94%;
            }
        }

        .subtitle {
            width: 100%;
            max-width: 800px;
            font-size: 1rem;
            margin: 0 auto 30px;
            text-align: center;
        }

        .cennik-tabela {
            width: 100%;
            max-width: 900px;
            border-collapse: collapse;
            overflow: hidden;
            font-size: 1rem;
            margin: 30px auto 30px;
            background-color: #f4f4f4;
            border: 2px solid #fff;
            text-align: center;
            table-layout: fixed;
        }

        .cennik-tabela th,
        .cennik-tabela td {
            height: 60px;
            vertical-align: middle;
            padding: 6px;
            border: 2px solid #fff;
        }

        .cennik-tabela th {
            background: #362e27;
            font-weight: 600;
            padding: 4px 6px;
            height: 40px;
        }

        .cennik-tabela td {
            height: 60px;
            padding: 6px;
        }

        .cennik-tabela th:nth-child(1),
        .cennik-tabela td:nth-child(1) {
            width: 40%;
        }

        .cennik-tabela th:nth-child(2),
        .cennik-tabela td:nth-child(2) {
            width: 30%;
        }

        .cennik-tabela th:nth-child(3),
        .cennik-tabela td:nth-child(3) {
            width: 30%;
        }

        @media (max-width: 768px) {
 
        /* Pierwsza kolumna na 20% szerokości */
        .cennik-tabela th:nth-child(1),
        .cennik-tabela td:nth-child(1) {
            width: 20%;
        }

        /* Pozostałe kolumny - dzielą ze sobą 80% */
        .cennik-tabela th:nth-child(n+2),
        .cennik-tabela td:nth-child(n+2) {
            width: 26.66%; /* 80% / 3 */
        }

        .cennik-tabela td {
            font-size: 0.95rem;
            white-space: normal;
        }
        }


        /* Styl przycisków rezerwacji */
        .reservation-buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        /** BOOKERO OVERRIDE **/
        body #bookero-plugin[data-mode=sticky] .bookero-sticky-plugin-toggle {
            background: #2F6940;
            width: 220px;
            height: 56px;
            opacity: 0.96;
            margin-bottom: 3px;
            font-family: 'Montserrat', sans-serif;
            font-size: large;
        }

        @media (max-width: 960px) {
            body #bookero-plugin[data-mode=sticky] .bookero-sticky-plugin-toggle {
                background: #2F6940;
                width: 100vw;
                max-width: 100vw;
                height: 60px;
                box-sizing: border-box;
                margin-bottom: 12px;
            }
        }

        body .bookero-plugin-hideable-part .bookero-plugin-header {
            background: none;
            color: #2F6940;
            padding: 0;
            font-size: 32px;
        }

        body .bookero-plugin-form .field .multiselect__option--highlight {
            background: #2F6940;
        }

        body .bookero-plugin-form .calendar-days-list-cell.is-valid {
            color: #2F6940;
            background: #f0f0f0;
            border-color: #f0f0f0;
        }

        body .bookero-plugin-form .calendar-days-list-cell.is-selected,
        body .bookero-plugin-form .calendar-days-list-cell.is-sub-selected {
            background: #2F6940;
            border-color: #2F6940;
            color: #fff;
        }

        body .bookero-plugin-form .calendar-days-list-cell.is-selected+.is-sub-selected:before,
        body .bookero-plugin-form .calendar-days-list-cell.is-sub-selected:before {
            background: #2F6940;
        }

        body .bookero-plugin-form .submit-section .submit-button {
            background: #2F6940;
        }

        body .bookero-plugin-form .bookero-plugin-header {
            background: none;
            color: #2F6940;
            padding: 0;
            font-size: 32px;
        }

        body .bookero-plugin-form-wrapper a {
            color: #2F6940;
            text-decoration: none !important;
        }

        body .bookero-plugin-form .submit-section .submit-button:active,
        body .bookero-plugin-form .submit-section .submit-button:focus,
        body .bookero-plugin-form .submit-section .submit-button:hover {
            background: #2F6940;
        }

        .result-popup-icon.is-waiting {
            background: #2F6940 !important;
        }

        body .bookero-plugin-form .field input:active,
        body .bookero-plugin-form .field input:focus,
        body .bookero-plugin-form .field select:active,
        body .bookero-plugin-form .field select:focus,
        body .bookero-plugin-form .field textarea:active,
        body .bookero-plugin-form .field textarea:focus {
            border-color: #2F6940;
        }

        body #bookero-plugin .calendar-message.is-notice {
            color: #3a3a3a;
            border-color: #666;
        }

        body #bookero-plugin .switcher.is-active {
            border-color: #2F6940;
            background-color: #2F6940;
        }

        body #bookero-plugin .inquiry-actions-details:after {
            border-color: #2F6940;
        }

        body #bookero-plugin .payment-section .payment-methods-item:hover {
            border-color: #2F6940;
        }

        body #bookero-plugin .payment-section .payment-methods-item.is-active {
            border-color: #2F6940;
            background-color: #2F6940;
        }

        body #bookero-plugin .bookero-plugin-form .field .multiselect__option,
        body #bookero-plugin .bookero-plugin-form-heading {
            font-weight: 500;
        }


        /* LISTA W JEDNYM RZĘDZIE, CENTROWANA, DUŻE MARKERY */

.inline-bullets{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:6px 16px;
  margin:10px 0;
  padding:0;
  list-style:none;

  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
}

.inline-bullets li{
  margin:0;
  line-height:1.4;
  font-size:0.9rem;

  display:flex;
  align-items:center;
}

.inline-bullets li::before{
  --marker-size: 0.45rem;        
  --marker-shift: .0rem;     /* <— subtelne obniżenie (tuning pionowy) */

  content: "";
  width: var(--marker-size);
  height: var(--marker-size);
  background: #2F6940;        /* kolor markera */
  border-radius: .0rem;      /* 0.25rem = „kwadracik” z lekko zaokrąglonymi rogami */
  margin-right: .5em;
  transform: translateY(var(--marker-shift));
  flex: 0 0 auto;
}
/* (opcjonalnie) Na mniejszych ekranach przytnij trochę marker, żeby nie dominował */
@media (max-width: 600px){
  .inline-bullets li::before{
  justify-content: left; 
    --marker-size: 0.45rem;
    --marker-shift: .0rem;
  }
}

.inline-bullets2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    /* centrowanie wierszy */
  gap: .4em 1em;            /* odstęp w pionie / poziomie między elementami */
  margin: .6em 0;
  padding: 0;
  list-style: none;           /* wyłącz natywne kropki */
}

/* pojedynczy element – bez dodatkowych przerw */
.inline-bullets2 li{
  margin: 0;
  line-height: 1.2;           /* zmniejsza wysokość wiersza (usuwa „dziury”) */
  display: flex;              /*  bullet + tekst w jednej linii */
  align-items: center;        /* wyrównanie w pionie */
}

/* DUŻY marker 2rem + delikatne obniżenie dla idealnej osi */
.inline-bullets2 li::before{
  --marker-size: 0.45rem;        /* <—zmienia rozmiar markera */
  --marker-shift: .0rem;     /* <—  obniżenie (tuning pionowy) */

  content: "";
  width: var(--marker-size);
  height: var(--marker-size);
  background: #ffffff;        /* kolor markera */
  border-radius: .0rem;      /* 0.25rem = „kwadracik” z lekko zaokrąglonymi rogami; daj 50% dla kółka */
  margin-right: .5em;
  transform: translateY(var(--marker-shift));
  flex: 0 0 auto;
}
/* (opcjonalnie) Na mniejszych ekranach przytnij trochę marker, żeby nie dominował */
@media (max-width: 600px){
  .inline-bullets2 li::before{
      justify-content: left; 
    --marker-size: 0.45rem;
    --marker-shift: .0rem;
  }
}


  .cart-link { margin-right: 15px; text-decoration: none !important; display: inline-flex; align-items: center; }
  .cart-link img { width: 26px; height: 26px; display: block; transform: translateY(10px); } /* w razie potrzeby zmień na 3–4px */

  img.qr {
    max-width: 20%;
    height: auto;
    transition: transform 0.2s ease;
  }

  /* Efekt przy najechaniu (opcjonalnie) */
  img.qr:hover {
    transform: scale(1.05);
  }

  /* Widok mobilny – powiększony QR code */
  @media (max-width: 768px) {
    img.qr {
      max-width: 55%; /* możesz zmienić np. na 50–60% */
    }
  }

.contact-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.95rem;
}

.contact-list .icon {
  color: #328247; 
  margin-right: 6px;
}

.contact-list li {
  margin: 8px 0;
}

.icon-img {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-left: 10px;
  vertical-align: -3px;   /* kluczowe – wyrównanie do tekstu */
}

.contact-list a {
  color: inherit;
  text-decoration: none;
}

.contact-list a:hover {
  text-decoration: underline;
}

.promo-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e97e2d;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  font-size: 15px;
  z-index: 3000;
}


.promo-code {
  background-color: #d4edda;
  color: #155724;
  padding: 2px 6px;
  margin: 0 4px;
  border-radius: 4px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .promo-bar {
    text-align: center; 
    padding-left: 5px;
    font-size: 16px;
  }

  .promo-code {
    margin: 0 4px;    
    padding: 2px 4px;
    
  }
}

.booking-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 30px 0 10px;
}
 
@media (max-width: 768px) {
  .booking-badges {
    flex-direction: column;  /* zmienia ułożenie z rzędu (row) na kolumnę */
    gap: 15px;              /* opcjonalnie zmniejsz odstęp na mobilkach */
  }
}

body {
  padding-top: 50px;
}

.copy-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 2px;
    color: #000;
    transition: 0.2s;
}

.copy-btn:hover {
    color: #2F6940;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .copy-btn {
        padding: 6px;
        margin-left: 8px;
        transform: scale(1.15);
    }

    .copy-btn:hover {
        transform: scale(1.25);
    }

    .copy-btn svg {
        width: 30px;
        height: 30px;
    }
}
