---
import { useTranslations } from '../../i18n/utils';

interface Props {
  lang: 'pl' | 'en' | 'de';
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const guideHref = {
  pl: 'https://lasbialas.pl/info/',
  en: '/przewodnik/',
  de: 'https://lasbialas.pl/info/de/',
}[lang];
---

<div class="description-box">
  <h2 class="h2">{t('surroundings.title')}</h2>
  <p set:html={t('surroundings.text')}></p>
  <div class="button-p-container">
    <a class="button-dostep" href={guideHref} target="_blank">{t('nav.guide')}</a>
  </div>
</div>
